{% for camping in camping %}
<div class="row d-flex flex-row justify-content-center">
    <div class="card mb-2 ml-1 col-md-5">
        <div class="card_body">
            <img src="{{ asset('img/camping/'~camping.image) }}" class="card-img-top"/>
            <div class="card_title">{{ camping.logement }}</div>
            <div class="card_text">{{ camping.prix }} €</div>
            {% if camping.type == 1 %}
                <div class="card_text">Particulier</div>
            {% elseif camping.type == 2 %}
                <div class="card_text">Normal</div>
            {% else %}

            {% endif %}
            <a href="/annonceDetail/{{ camping.id }}"> Détails</a>
        </div>
    </div>
</div>
{% endfor %}
