{% extends "base.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Bienvenue sur la Page du Camping</h1>
    </div>
    <div>
        {{ include("front/_menu.html.twig") }}
    </div>
    <div>
        {{ include("front/_annonce.html.twig") }}
    </div>
    <div class="row d-flex flex-row justify-content-center">
        <div class="pagination">
            {{ knp_pagination_render(camping) }}
        </div>
    </div>

{% endblock %}