{% extends "base.html.twig" %}
{% block title %}Annonce{{ detailCamping }} {% endblock %}

{% block body %}
    <a href="/accueil">Retour</a>
    <div class="row d-flex flex-row justify-content-center">
        <div class="card mb-2 ml-1 col-md-5">
            <div class="card_body">
                <img src="{{ asset('img/camping/'~camping.image) }}" class="card-img-top">
                <h2>{{ camping.logement }} n°{{ detailCamping }}</h2>
                <p>{{ camping.description }}</p>
                {% if camping.type == 1 %}
                    <div class="card_text">Particulier</div>
                {% elseif camping.type == 2 %}
                    <div class="card_text">Normal</div>
                {% else %}

                {% endif %}
                <div>{{ camping.prix }} €</div>
                {% if camping.logement == 'emplacement' %}
                <div>{{ camping.taille }}</div>
                {% else %}
                <div>{{ camping.taille }} place</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
