{% extends "base.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <h2 class="jumbotron">{{ title }}</h2>
    <a href="/accueil">Retour</a>
    <div class="container">
        <div class="card">
            <div class="card-body">
                {% if page == true %}
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey }}</div>
                    {% endif %}
                    <form method="post" action="{{ path('login') }}">
                    <div class="form-group">
                        <label for="username">Identifiant</label>
                        <input type="text" id="username" name="_username"
                               value="{{ last_username }}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input id="password" name="_password"
                               type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default btn-outline-primary btn-sm">
                        Connection
                    </button>
                </form>
                {% else %}
                <div class="form-group">
                 {{ form_start(users) }}
                 {{ form_row(users.email) }}
                 {{ form_row(users.username) }}
                 {{ form_row(users.password) }}
                 {{ form_row(users.profil.prenom) }}
                 {{ form_row(users.profil.nom) }}
                 {{ form_row(users.profil.phone) }}
                    <br>
                 {{ form_row(users.button) }}
                 {{ form_rest(users) }}
                 {{ form_end(users) }}
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}